@font-face {
  font-family: "Pokemon Classic";
  src: url("../fonts/Pokemon Classic.ttf");
}

.not-found {
  text-align: center;
  color: #ddd;
  font-family: "Pokemon Classic";
  margin-top: 50px;
}
