@font-face {
  font-family: "Pokemon Classic";
  src: url("../fonts/Pokemon Classic.ttf");
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "Pokemon Classic";
  text-align: center;
}
